#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body{
  background-color: rgb(201, 201, 201);
  background-image:linear-gradient(rgb(191, 191, 191),rgb(96, 96, 96));
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: rgb(255, 255, 255);
}

#supp{
  background-color: rgb(255, 50, 50);
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 10px 20px;
}
#supp:hover {
  background-color: rgb(176, 7, 7);
  color: white;
  box-shadow: 0 2px 3px 3px rgb(241, 138, 138)
}

#add{
  background-color: rgb(0, 0, 255);
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 24px;
  font-weight: bolder;
 
}
#add:hover {
  background-color: rgb(24, 24, 88);
  box-shadow: 0 2px 3px 3px rgb(91, 91, 210)
}
#done{
  background-color: #53ff59;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 20px;
  
}
#done:hover {
  background-color: rgb(5, 55, 5);
  color: white;
  box-shadow: 0 2px 3px 3px rgb(104, 169, 111);
}


#txt{
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#txt2{
  border-radius: 5px;
  border: 2px solid rgb(10, 10, 10);
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
li{
  list-style-type: none;
}
#wwo{
  background-image: url(qq.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 83px 250px;
}